#create-post-popup {
    width: 500px;
    height: 500px;
}

#extended-create-post-popup {
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: center;
    width: 50%;
    height: 60%;
    border-radius: 10px;
    overflow: hidden;
}

.popup-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2);
    font-size: 16px;
    font-weight: bold;
}

#left-header {
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

#center-header {
    display: flex;
    flex: 1;
    justify-content: center;
}

#right-header {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

#create-post-header svg:hover {
    cursor: pointer;
}

#create-post-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    overflow: hidden;
    
}

#create-post-content * {
    max-width: 100%;
    max-height: 100%;
}

#create-post-upload {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#create-post-upload input {
    display: none;
}

#create-post-upload p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

#create-post-crop {
    position: relative;
    width: 100%;
    height: 100%;
}

#create-post-crop-edit {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
}

#collection-container {
    width: fit-content;
    border-radius: 50%;
    background-color: black;
    margin: 10px;
    cursor: pointer;
}

#collection-container > img {
    width: 20px !important;
    height: 20px !important;
    padding: 10px;
    margin: 0 !important;
}

#create-post-collection {
    display: flex;
    border-radius: 10px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    margin-right: 10px;
    max-width: 96%;
}

#create-post-collection > ul {
    display: flex !important;
    position: relative;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
    margin: 0 auto;
    max-width: 100%;
    overflow-x: auto;
}

#create-post-collection li {
    margin-right: 0px !important;
    margin: 10px;
    width: 60px !important;
    height: 60px !important;
}

.create-post-collection-image {
    width: 100% !important;
    height: 100%;
    margin: 0 !important;
    object-fit: cover;
}

#create-post-collection > input {
    display: none;
}

#plus-icon {
    margin: 10px !important;
    width: 40px !important;
}

.create-post-preview-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#create-post-submit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#create-post-submit-preview {
    width: 60%;
    height: 100%;
}

#create-post-submit-preview img {
    max-width: 100%;
    max-height: 100%;
}

#create-post-options {
    display: flex;
    flex-direction: column;
    text-align: left;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 40%;
    margin-left: 1px;
}

#create-post-options-user {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
}

#create-post-options-user span {
    margin-left: 10px;
    font-weight: bold;
}

#caption {
    padding: 10px;
    flex: 1;
}

#caption textarea {
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    padding: 0;
    font: inherit;
}

#caption textarea:focus {
    outline: none;
}

.action {
    color: #00A0FF;
    font-weight: bold;
}

.action:hover {
    cursor: pointer;
}

.profile-picture {
    width: 30px;
}

.create-post-preview {
    cursor: default !important;
    margin: 0 !important;
    width: initial !important;
    object-fit: scale-down;
    max-width: 100%;
    max-height: 100%;
}

.profile-picture {
    margin: 0 !important;
}