.post {
    background-color: white;
    margin: auto;
    margin-top: 20px;
    width: 400px;
    border-radius: 6px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    font-size: 14px;
}

.post-photo {
    margin-top: 1px;
    max-width: 400px;
}

.post a {
    font-weight: bold;
    color: inherit;
    text-decoration: none;
}

.post p {
    display: inherit;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
}

.header span {
    display: flex;
    align-items: center;
}

.header a {
    margin-left: 10px;
}

.header svg:hover {
    cursor: pointer;
}

.post-profile-photo {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    width: 30px;
}

.post-profile-photo:hover {
    cursor: pointer;
}

.footer {
    padding: 10px;
}

.footer div {
    margin-top: 10px;
}

.description span {
    margin-left: 5px;
}

.add-comment {
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

.add-comment div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.add-comment input {
    flex: 1 1 auto;
    border: 0;
    padding: 0;
    overflow: scroll;
}

.add-comment button {
    border: 0;
    padding: 0;
    margin: 0;
    background-color: inherit;
    color: #00A0FF;
    font-weight: bold;
}

.add-comment input:focus {
    outline: none;
}

.disabled {
    opacity: 50%;
}

.enabled:hover {
    cursor: pointer;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 0 !important;
}

.icons svg:hover {
    cursor: pointer;
    opacity: 50%;
}

#left-hand {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.view-comments {
    color: #8F8F8F;
}

.view-comments span:hover {
    cursor: pointer;
}

.timestamp {
    color: #8F8F8F;
    font-size: 10px;
}

.likes {
    font-weight: bold;
}
