#settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

#settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    background-color: white;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    padding: 30px;
}

#settings-top {
    display: flex;
    width: 100%;
    justify-content: center;
}

#settings-top > span > img {
    width: 50px;
}

#settings-username {
    font-size: 24px;
}

#profile-photo-change > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#profile-photo-change input {
    display: none;
}

#profile-photo-change li {
    cursor: pointer;
    font-size: 16px;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2);
}

#settings strong {
    font-size: 18px;
    font-weight: bold;
}

.settings-field {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.settings-field * {
    margin-bottom: 0 !important;
}

.settings-field-left {
    text-align: right;
    width: 40%;
}

.settings-field-right {
    margin-left: 20px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

#settings-password {
    width: 100%;
}

.settings-section {
    width: 100%;
}

#settings button {
    width: fit-content;
}

#settings input {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    flex: 1;
    border: 0;
}

#settings textarea {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    border: none;
    resize: vertical;
    border-radius: 5px;
    padding: 10px;
    font: inherit;
    font-size: 13px;
}

#settings p {
    font-weight: bold;
    color: #7D7D7D;
}

#settings-tabs {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 30px;
    gap: 30px;
}

#settings-tabs > a {
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    width: 30%;
}

#settings-tabs > a:hover {
    background-color: #E9E9E9;
}

.bolded {
    font-weight: bold;
}