body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F6F6F6;
    margin: 0;
    padding: 0;
}

.profile-picture {
    object-fit: cover;
    aspect-ratio: 1;
    border-radius: 50%;
}

#root > div {
    height: 100vh;
}
