.pop-up {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99;
    margin: 0 !important;
}

.pop-up > div {
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: center;
    overflow: hidden;
    font-size: 14px;
    border-radius: 10px;
}